.project{
    margin-bottom: 30px;
}
.about,.b,.connect{
    height:93vh;
}
.main img{
    width:23vw;
    height:40vh;
}
.main img:hover{
  width:26vw;
  height:43vh;
}
a{
  text-decoration: none;
  color:black;
}
a:hover{
  color:rgb(2, 27, 190);
}
.navbar-nav{
  margin-left: 30px;
}
.p1{
  border-bottom: 2px solid rgb(183, 179, 179);
}
.para{
    text-align: justify;
}
.about{
    border-bottom: 2px solid rgb(183, 179, 179);
}
.b{
    border-bottom: 2px solid rgb(183, 179, 179);
}
@media screen and (max-width:500px){
  .main{
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    padding-left:20px;
    padding-right: 20px;
  }
  .about,.b,.connect{
    height:93vh;
  }
  .navbar-brand{
    margin-left: 0 !important;
  }
  .navbar-nav{
    margin-left: 0;
  }
  .navbar-nav a{
    margin-left: 0 !important;
    margin-bottom: 10px;
  }
  .main img{
    width:60vw;
    height:50vh;
  }
  .main img:hover{
    width:63vw;
    height:52vh;
  }  
  ol li{
    font-size:20px;
  }
  .project img{
    width:60vw;
    height:50vh;
  }
  .project img:hover{
    width:63vw;
    height:55vh;
  }
  .nav-link{
    margin-left: 16px;
  }
  .para{
    font-size:20px;
    line-height: 5vh;
  }
}
@media screen and (min-width:500px) and (max-width:600px){
  .main{
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    padding-left:20px;
    padding-right: 20px;
  }
   .nav-link{
    margin-left: 46px;
  }
   .navbar-brand{
    margin-left: 0 !important;
  }
  .navbar-nav{
    margin-left: 0;
  }
  .navbar-nav a{
    margin-left: 0 !important;
    margin-bottom: 10px;
  }
  .about,.b,.connect{
    height:93vh;
  }
  .main img{
    width:55vw;
    height:50vh;
  }
  .main img:hover{
    width:58vw;
    height:52vh;
  }
  .intro{
    margin-top: 0;
  }
  .project img{
    width:60vw;
    margin-left: 45px;
  }
  .project img:hover{
    width:63vw;
    height:50vh;
  }
  .para{
    font-size:20px;
    line-height: 5vh;
  }
}
@media screen and (min-width:600px) and (max-width:800px){
    .main{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left:20px;
    padding-right: 20px;
  }
   .navbar-brand{
    margin-left: 0 !important;
  }
  .navbar-nav{
    margin-left: 0;
  }
  .navbar-nav a{
    margin-left: 0 !important;
    margin-bottom: 10px;
  }
   .nav-link{
    margin-left: 46px;
  }
  .about,.b,.connect{
    height:93vh;
  }
  .main img{
    width:50vw;
    height:50vh;
  }
  .main img:hover{
    width:53vw;
    height:52vh;
  }
  .intro{
    margin-top: 0;
  }
  .project img{
    width:60vw;
    margin-left: 45px;
  }
  .project img:hover{
    width:63vw;
    height:50vh;
  }
  .para{
    font-size:20px;
    line-height: 5vh;
  }
}
@media screen and (min-width:800px) and (max-width:991px){
  .main{
    padding-left:20px;
    padding-right: 20px;
  }
  .main img{
    width:48vw;
    height:53vh;
  }
  .main img:hover{
    width:50vw;
    height:55vh;
  }
   .navbar-brand{
    margin-left: 0 !important;
  }
  .navbar-nav{
    margin-left: 0;
  }
  .navbar-nav a{
    margin-left: 0 !important;
    margin-bottom: 10px;
  }
  .about,.b,.connect{
    height:93vh;
  }
   .intro{
    margin-left:60px;
  }
  .project img{
    width:60vw;
    height:55vh;
    margin-left: 45px;
  }
  .project img:hover{
    width:63vw;
    height:57vh;
  }
  .nav-link{
    margin-left: 47px;
  }
}
@media screen and (min-width:992px) and (max-width:1285.60px){
  .main img{
    width:35vw;
    height:50vh;
  }
  .main img:hover{
    width:38vw;
    height:52vh;
  }
  .about,.b,.connect{
    height:93vh;
  }
}